body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../导航_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:695px;
    top:91px;
    width:225px;
    height:296px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u4 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:468px;
    top:91px;
    width:225px;
    height:296px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u6 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:241px;
    top:91px;
    width:225px;
    height:296px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u8 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:14px;
    top:92px;
    width:225px;
    height:296px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u10 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:304px;
    top:20px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:882px;
    top:16px;
    width:66px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:14px;
    top:92px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u14_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u15 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../主页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:12px;
    top:8px;
    width:201px;
    height:200px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:200px;
}

.u17 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:12px;
    top:218px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:144px;
    top:260px;
    width:63px;
    height:25px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:12px;
    top:260px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../主页_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1011px;
    height:3px;
}

.u22 {
    position:absolute;
    left:15px;
    top:81px;
    width:1011px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:971px;
    top:95px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../主页_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:1027px;
    top:82px;
    width:7px;
    height:7px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u25 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../主页_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1011px;
    height:3px;
}

.u26 {
    position:absolute;
    left:15px;
    top:691px;
    width:1011px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:971px;
    top:705px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../主页_files/u24_normal.png');
}

.u28_container {
    position:absolute;
    left:1027px;
    top:692px;
    width:7px;
    height:7px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u29 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../主页_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1011px;
    height:3px;
}

.u30 {
    position:absolute;
    left:15px;
    top:1007px;
    width:1011px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:971px;
    top:1021px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../主页_files/u24_normal.png');
}

.u32_container {
    position:absolute;
    left:1027px;
    top:1008px;
    width:7px;
    height:7px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:13px;
    height:13px;
}

.u33 {
    position:absolute;
    left:2px;
    top:-4px;
    width:3px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u34_container {
    position:absolute;
    left:468px;
    top:91px;
    width:225px;
    height:296px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u35 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:480px;
    top:309px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u37_container {
    position:absolute;
    left:612px;
    top:351px;
    width:63px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u39_container {
    position:absolute;
    left:695px;
    top:91px;
    width:225px;
    height:296px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u40 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:707px;
    top:309px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u42_container {
    position:absolute;
    left:839px;
    top:351px;
    width:63px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:475px;
    top:98px;
    width:214px;
    height:212px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:212px;
}

.u45 {
    position:absolute;
    left:2px;
    top:98px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:479px;
    top:351px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:715px;
    top:351px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:241px;
    top:91px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u49_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u50 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:10px;
    top:217px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u52_container {
    position:absolute;
    left:142px;
    top:259px;
    width:63px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:10px;
    top:259px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../主页_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:6px;
    top:6px;
    width:209px;
    height:213px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:213px;
}

.u56 {
    position:absolute;
    left:2px;
    top:98px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../主页_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:708px;
    top:98px;
    width:202px;
    height:202px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:202px;
}

.u58 {
    position:absolute;
    left:2px;
    top:93px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u59_container {
    position:absolute;
    left:695px;
    top:393px;
    width:225px;
    height:296px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u60 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u61_container {
    position:absolute;
    left:468px;
    top:393px;
    width:225px;
    height:296px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u62 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u63_container {
    position:absolute;
    left:241px;
    top:393px;
    width:225px;
    height:296px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u64 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u65_container {
    position:absolute;
    left:14px;
    top:394px;
    width:225px;
    height:296px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u66 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u67 {
    position:absolute;
    left:14px;
    top:394px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u67 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u68_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u69 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../主页_files/u16_normal.png');
}

.u70_container {
    position:absolute;
    left:12px;
    top:8px;
    width:201px;
    height:200px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:200px;
}

.u71 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:12px;
    top:218px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u73_container {
    position:absolute;
    left:144px;
    top:260px;
    width:63px;
    height:25px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u74 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:12px;
    top:260px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u76_container {
    position:absolute;
    left:468px;
    top:393px;
    width:225px;
    height:296px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u77 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:480px;
    top:611px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u79_container {
    position:absolute;
    left:612px;
    top:653px;
    width:63px;
    height:25px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u80 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u81_container {
    position:absolute;
    left:695px;
    top:393px;
    width:225px;
    height:296px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u82 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:707px;
    top:611px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u84_container {
    position:absolute;
    left:839px;
    top:653px;
    width:63px;
    height:25px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u85 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u86_container {
    position:absolute;
    left:475px;
    top:400px;
    width:214px;
    height:212px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:212px;
}

.u87 {
    position:absolute;
    left:2px;
    top:98px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:479px;
    top:653px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:715px;
    top:653px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u90 {
    position:absolute;
    left:241px;
    top:393px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u90 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u91_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u91_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u92 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:10px;
    top:217px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u94_container {
    position:absolute;
    left:142px;
    top:259px;
    width:63px;
    height:25px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u95 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:10px;
    top:259px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../主页_files/u55_normal.png');
}

.u97_container {
    position:absolute;
    left:6px;
    top:6px;
    width:209px;
    height:213px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:213px;
}

.u98 {
    position:absolute;
    left:2px;
    top:98px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../主页_files/u57_normal.png');
}

.u99_container {
    position:absolute;
    left:708px;
    top:400px;
    width:202px;
    height:202px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:202px;
}

.u100 {
    position:absolute;
    left:2px;
    top:93px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u101_container {
    position:absolute;
    left:695px;
    top:703px;
    width:225px;
    height:296px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u102 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u103_container {
    position:absolute;
    left:468px;
    top:703px;
    width:225px;
    height:296px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u104 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u105_container {
    position:absolute;
    left:241px;
    top:703px;
    width:225px;
    height:296px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u106 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../主页_files/u3_normal.png');
}

.u107_container {
    position:absolute;
    left:14px;
    top:704px;
    width:225px;
    height:296px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u108 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u109 {
    position:absolute;
    left:14px;
    top:704px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u110_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u110_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u111 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../主页_files/u16_normal.png');
}

.u112_container {
    position:absolute;
    left:12px;
    top:8px;
    width:201px;
    height:200px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:201px;
    height:200px;
}

.u113 {
    position:absolute;
    left:2px;
    top:92px;
    width:197px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:12px;
    top:218px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u115_container {
    position:absolute;
    left:144px;
    top:260px;
    width:63px;
    height:25px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u116 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:12px;
    top:260px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u118_container {
    position:absolute;
    left:468px;
    top:703px;
    width:225px;
    height:296px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u119 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:480px;
    top:921px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u121_container {
    position:absolute;
    left:612px;
    top:963px;
    width:63px;
    height:25px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u122 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u123_container {
    position:absolute;
    left:695px;
    top:703px;
    width:225px;
    height:296px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u124 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:707px;
    top:921px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u126_container {
    position:absolute;
    left:839px;
    top:963px;
    width:63px;
    height:25px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u127 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u128_container {
    position:absolute;
    left:475px;
    top:710px;
    width:214px;
    height:212px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:214px;
    height:212px;
}

.u129 {
    position:absolute;
    left:2px;
    top:98px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:479px;
    top:963px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:715px;
    top:963px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u132 {
    position:absolute;
    left:241px;
    top:703px;
    width:226px;
    height:297px;
    overflow:hidden;
}

#pd0u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:297px;
    
}

.u133_normal {
    background-image: url('../主页_files/u14_normal.png');
}

.u133_container {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:296px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:302px;
}

.u134 {
    position:absolute;
    left:2px;
    top:140px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:10px;
    top:217px;
    width:201px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../主页_files/u19_normal.png');
}

.u136_container {
    position:absolute;
    left:142px;
    top:259px;
    width:63px;
    height:25px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:69px;
    height:31px;
}

.u137 {
    position:absolute;
    left:2px;
    top:4px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:10px;
    top:259px;
    width:111px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../主页_files/u55_normal.png');
}

.u139_container {
    position:absolute;
    left:6px;
    top:6px;
    width:209px;
    height:213px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:213px;
}

.u140 {
    position:absolute;
    left:2px;
    top:98px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../主页_files/u57_normal.png');
}

.u141_container {
    position:absolute;
    left:708px;
    top:710px;
    width:202px;
    height:202px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:202px;
}

.u142 {
    position:absolute;
    left:2px;
    top:93px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../主页_files/u143_normal.png');
}

.u143_container {
    position:absolute;
    left:977px;
    top:457px;
    width:48px;
    height:49px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:54px;
    height:55px;
}

.u144 {
    position:absolute;
    left:2px;
    top:16px;
    width:44px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_line {
    background-image: url('../主页_files/u145_line.png');
}

.u145_line {
    position:absolute;
    left:0px;
    top:3px;
    width:23px;
    height:5px;
}

.u145 {
    position:absolute;
    left:989px;
    top:467px;
    width:23px;
    height:10px;
    
}

.u146_normal {
    background-image: url('../主页_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:967px;
    top:397px;
    width:64px;
    height:64px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:64px;
    height:64px;
}

.u147 {
    position:absolute;
    left:2px;
    top:24px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../主页_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:989px;
    top:478px;
    width:24px;
    height:24px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:24px;
    height:24px;
}

.u149 {
    position:absolute;
    left:2px;
    top:4px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:990px;
    top:18px;
    width:75px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../主页_files/u151_normal.png');
}

.u151_container {
    position:absolute;
    left:1062px;
    top:18px;
    width:16px;
    height:16px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u152 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u153_container {
    position:absolute;
    left:116px;
    top:6px;
    width:180px;
    height:38px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u154 {
    position:absolute;
    left:2px;
    top:-2px;
    width:176px;
    height:42px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../主页_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:0px;
    top:49px;
    width:1200px;
    height:22px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:28px;
}

.u156 {
    position:absolute;
    left:2px;
    top:3px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157 {
    position:absolute;
    left:543px;
    top:52px;
    width:41px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:579px;
    top:49px;
    width:103px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

